.gwt-DialogBox {
  width: 400px;
  z-index: 100;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-MenuBarPopup{
	z-index: 100;
}

.designArea .docElement {
	cursor: move;	
}

.designArea .docElement.selected {
	border: 2px dashed deepskyblue;
	box-shadow: 0 0 5px 2px yellow; 
}

.docElement[contenteditable=true]{
	cursor: default;	
}

.tableHeader{
	font-weight: bold;
	background: #EFEFEF;
}

.selTable{
	cursor: pointer;
}

.selTable .selected{
	background: #197de1;
	color: #c8dbed;
}

.palletItem{
	cursor: default;
	user-select: none;
}