.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.gwt-MenuBarPopup{
	z-index: 100;
}

.designArea .docElement {
	cursor: move;	
}

.designArea .docElement.selected {
	border: 2px dashed deepskyblue;
	box-shadow: 0 0 5px 2px yellow; 
}

.docElement[contenteditable=true]{
	cursor: default;	
}