.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.docElement {
	cursor: move;	
}

.docElement.selected {
	border: thin dashed deepskyblue;
	box-shadow: 0 0 5px 2px yellow; 
}

.docElement[contenteditable=true]{
	cursor: default;	
}